<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934750627493-bs3d30kamjlofvmjf5gju4te52rf98vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934750627493-bs3d30kamjlofvmjf5gju4te52rf98vl</string>
	<key>API_KEY</key>
	<string>AIzaSyCKICa_3f0Cn5NTfTTGul1Uel9xAs8nUMk</string>
	<key>GCM_SENDER_ID</key>
	<string>934750627493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zapzap2</string>
	<key>PROJECT_ID</key>
	<string>teste-firebase-82a3d</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-firebase-82a3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934750627493:ios:aa3b1cf1b8d1ba35948f4c</string>
</dict>
</plist>